.farmer-container-fm {
  height: auto;
}
.farmer-form-container-fm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(240, 255, 243);
  padding-bottom: 30px;
  width: 700px;
  border-radius: 50px;
  margin-bottom: 80px;
  border: 3px solid black;
}

.farmer-header-fm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.farmer-text-fm {
  color: black;
  font-size: 48px;
  font-weight: 700;
}

.farmer-underline-fm {
  width: 200px;
  height: 6px;
  background: green;
  border-radius: 9px;
}

.farmer-inputs-fm {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.farmer-input-fm {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: rgb(255, 241, 206);
  border-radius: 50px;
}

.farmer-input-fm .farmer-BadgeIcon-fm {
  margin: 0px 30px;
}
.farmer-input-fm .farmer-PhoneIcon-fm {
  margin: 0px 30px;
}
.farmer-input-fm .farmer-HomeIcon-fm {
  margin: 0px 30px;
}
.farmer-input-fm .farmer-EmailIcon-fm {
  margin: 0px 30px;
}
.farmer-input-fm .farmer-LockIcon-fm {
  margin: 0px 30px;
}

.farmer-input-fm input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(72, 60, 46, 0.842);
  font-size: 19px;
  margin-left: 35px;
}

.farmer-submit-container-fm {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px auto;
}

.farmer-submit-fm button {
  width: 220px;
  height: 59px;
  color: aliceblue;
  background: rgb(0, 129, 0);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
}
.farmer-submit-fm button:hover {
  background-color: rgb(85, 215, 85);
  color: black;
}
.farmer-gray-fm {
  background: rgb(255, 255, 255);
  color: gray;
}
