.container-c {
  height: 100%;
  margin: 40px;
}

.form-container-c {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(240, 255, 243);
  width: 700px;
  border-radius: 50px;
  border: 3px solid black;
  height: fit-content;
}

.header-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 100%;
  margin-top: 20px;
}

.text-c {
  color: black;
  font-size: 48px;
  font-weight: 700;
}

.underline-c {
  width: 200px;
  height: 6px;
  background: green;
  border-radius: 9px;
}

.inputs-c {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-c {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: rgb(255, 241, 206);
  border-radius: 50px;
}

.input-c .BadgeIcon-c {
  margin: 0px 30px;
}
.input-c .PhoneIcon-c {
  margin: 0px 30px;
}
.input-c .HomeIcon-c {
  margin: 0px 30px;
}
.input-c .EmailIcon-c {
  margin: 0px 30px;
}
.input-c .LockIcon-c {
  margin: 0px 30px;
}

.input-c input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(72, 60, 46, 0.842);
  font-size: 19px;
  margin-left: 35px;
}

.submit-container-c {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px auto;
}

.submit-c button {
  width: 220px;
  height: 59px;
  color: aliceblue;
  background: rgb(0, 129, 0);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit-c button:hover {
  background-color: rgb(85, 215, 85);
  color: black;
}
.gray-c {
  background: rgb(255, 255, 255);
  color: gray;
}
