.aboutus-section {
  background-image: url("../assets/bg-img.jpg");
  background-position: center;
  background-size: cover;
}

.aboutus-section .container {
  background-color: rgba(40, 39, 39, 0.7);
  color: rgb(245, 243, 240);
  padding: 20px;
  letter-spacing: 2px;
}
