.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  height: 640px;
}

.add-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(rgb(175, 255, 153), rgb(255, 241, 177));
  padding: 30px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 80vh;
  width: 800px;
  border-radius: 20px;
  overflow-y: auto;
}

.add-input-form input,
.add-input-form select,
.add-input-form textarea {
  background: #f8ffb9;
  margin-bottom: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px); /* Adjusted width for input elements */
}

.add-input-form select {
  width: 100px; /* Adjusted width for select elements */
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper select {
  width: 100px; /* Adjusted width of the select element */
  margin-left: 10px; /* Add margin between input and select */
}

.input-group label {
  width: 150px; /* Fixed width for labels */
  margin-right: 10px; /* Add margin between label and input/select */
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-buttons button {
  margin-left: 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-buttons button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.form-buttons button[type="button"] {
  background-color: #f44336;
  color: white;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.add-input-form input,
.add-input-form select,
.add-input-form textarea {
  flex: 1; /* Input/select elements occupy remaining space */
  background: #f8ffb9;
  margin-bottom: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
}
