.deletePg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  height: 640px;
}

.delete-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(rgb(175, 255, 153), rgb(255, 241, 177));
  padding: 30px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 600px;
  height: 300px;
  border-radius: 20px;
}

.delete-inputs {
  margin-bottom: 20px;
}

.del-input label {
  width: 150px;
  margin-right: 10px;
}

.del-input select {
  width: 140px;
  align-items: center;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

.del-button {
  display: flex;
  justify-content: space-between;
}

.del-sub button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
