/* Container styles */
.vegetable-container,
.fruit-container,
.dairy-container {
  border: 2px solid rgb(0, 0, 0);
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  margin: 35px;
  display: flex;
  flex-direction: column;
}
.product-card {
  display: flex;
  justify-content: center;
}

.product-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin: 0px 25px 0px 25px;
  gap: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  border: 2px#000;
  text-decoration: none;
}

.card .description {
  padding: 0 10px;
  text-align: left;
}

.card a {
  text-decoration: none;
  color: #000;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.price {
  color: grey;
  font-size: 18px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #40b81b;
}

.separator {
  width: 100%;
  border-top: 3px solid #363333;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-all-link {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.view-all-link:hover {
  background-color: #000;
  color: #fff;
}

.Search-container {
  background-image: url("C:\Users\Anjali\Desktop\farmer's market pictures\vgi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  min-width: 610px;
  min-height: 300px;
  max-height: 500px;
  margin: 35px;
  padding: 50px;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.searchNbtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.searchNbtn input {
  cursor: pointer;
  width: 610px;
  height: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(233, 245, 255);
  color: #000;
  border-style: none;
}

.Search-container button {
  background-color: #33a510;
  width: 5cm;
  border-radius: 10px;
  color: white;
}

.Search-container button:hover {
  background-color: #37b212;
}

.searching-popup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  text-align: center;
}
