.navbar {
  width: 100%;
  height: 100px;
  background-color: #20610c;
  display: flex;
  flex-direction: row;
}

.navbar .Leftside {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.navbar .Leftside img {
  width: 100px;
  cursor: pointer;
}

.navbar .rightside {
  margin-left: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .rightside img {
  width: 40px;
  cursor: pointer;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightside button {
  padding-left: 85px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.navbar .rightside svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 10px;
}

.navbar #open .hiddenLinks img {
  width: 40px;
  display: inherit;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightside a {
    width: 70px;
  }
  .navbar .Leftside {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar .rightside a {
    display: none;
  }

  .navbar .rightside {
    justify-content: flex-end;
    padding-right: 40px;
  }

  .navbar .rightside button {
    display: inherit;
  }
}

@media only screen and (min-width: 700px) {
  .navbar .rightside button {
    display: none;
  }
  .hiddenLinks {
    display: none;
  }
}
