.payment-container {
  background-color: aliceblue;
}

.payment-container h1 {
  margin-left: 60px;
  text-decoration: underline rgb(255, 187, 0);
}
.payment-m-c {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20px;
}

.cod-card,
.fonep-card {
  margin-left: 50px;
  margin-right: 50px;
}

.cod-pm {
  border-radius: 15px;
  border: 2px dashed black;
  box-shadow: -7px 7px 3px rgba(42, 87, 38, 0.351);
}

.cod-card p,
.fonep-card p {
  font-weight: bold;
  border: 2px dashed black;
  width: fit-content;
  padding: 10px;
}

.seperator {
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px 45px;
}
